.MuiDateCalendar-root {
    width: 100% !important;
    height: 200px !important;
}

.MuiPickersCalendarHeader-root {
    display: none !important;
}
.MuiDayCalendar-weekDayLabel {
    font-weight: 900 !important;
}