@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F9FAFB;
}

.css-5wchs2-MuiDateCalendar-root {
    width: 100% !important;
    height: 200px !important;
    /* margin-left: -20px !important; */
}

.css-1nxbkmn-MuiPickersCalendarHeader-root {
    display: none !important;
}
.css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    font-weight: 900 !important;
}
